@model Movie_Theater.Models.Auditoriums

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auditoriums</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Theater)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theater.TheaterEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditoriumName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditoriumName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditoriumType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditoriumType)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuditoriumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
