@model IEnumerable<Movie_Theater.Models.Theaters>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <!-- datatables JS樣式 -->
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <!-- font-awesome樣式 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <!-- sweetalert2樣式 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet" />

    <style>
        #ShowImg {
            width: 400px;
            height: 300px;
        }

        thead {
            background-color:white;
        }
         .table {
            background-color: white;
        }
    </style>

}
<div class="text-center">
    <h1>影城管理</h1>
    <hr />
</div>

<p>
    <a asp-action="Create" class="btn btn-primary mx-2">
        <i class="fa-solid fa-square-plus fs-4"> 新增</i>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheaterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheaterPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheaterEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheaterLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheaterStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheaterEndTime)
            </th>
            <th>編輯區</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheaterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheaterPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheaterEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheaterLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheaterStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheaterEndTime)
            </td>
            <td>
                <div class="d-flex justify-content-evenly">
                    <a asp-action="Edit" asp-route-id="@item.TheaterId" class="btn btn-success mx-2 w-75">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                        <a class="btn btn-primary mx-2 w-75" data-bs-toggle="modal" data-bs-target="#Detail-@item.TheaterId">
                        <i class="fa-solid fa-file-lines"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.TheaterId" class="btn btn-danger mx-2 w-75" onclick="return DeleteConfirm(this)">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div> 
            </td>
        </tr>
        <!-- Detail -->
        <div class="modal fade" id="Detail-@item.TheaterId" tabindex="-1" aria-labelledby="Detail-@item.TheaterId" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="DetailsPartial" model="@item" />
                    </div>
                </div>
            </div>
        </div>   
}
    </tbody>
</table>

@section Scripts
{
    <!-- datatable套件 -->
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <!-- datatable 套件 -->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <!-- datatable凍結標題套件 -->
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <!-- sweetalert2套件 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script src="~/js/delete_alert.js"></script>
	<script src="~/js/data_change_result.js"></script>
    <script>
        
        $(document).ready(function () {
            let ChangeResult = '@Html.Raw(TempData["ChangeResult"])';
            DataChangeResult(ChangeResult);

            $("table").DataTable({
                // 凍結欄位
                fixedHeader: { header: true },
                // 語系
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/zh-HANT.json',
                },
                autoWidth: false, // 預設為true　設置是否要自動調整表格寬度(false代表不要自適應)　
                // 調整欄寬
                columns: [
                    { "width": "10%" }, // 影城名稱寬度為 20%
                    { "width": "10%" }, // 影城電話寬度為 30%
                    { "width": "16%" }, // 影城電子郵件列寬度為 50%
                    { "width": "30%" }, // 影城地址列    寬度為 50%
                    { "width": "12%" }, // 營業開始時間寬度為 50%
                    { "width": "12%" }, // 營業開始時間寬度為 50%
                    { "width": "10%" }, // 編輯區寬度為 50%
                ],
                columnDefs: [
                {
                    "targets": "_all",  // 對所有列應用
                    "className": "text-center" // 使用定義的 CSS 類進行置中對齊
                }
                ]
            });
        });
    </script>
}