@model IEnumerable<Admins_ViewModel>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <!-- sweetalert2樣式 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet" />
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                    <div class="d-flex justify-content-center">
                        <a asp-action="Edit" asp-route-id="@item.Account" class="btn btn-success mx-2 w-10">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Account" class="btn btn-danger mx-2 w-10" onclick="return DeleteConfirm(this)">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <!-- sweetalert2套件 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script src="~/js/delete_alert.js"></script>
	<script src="~/js/data_change_result.js"></script>
    <script>
        $(document).ready(function () {
            let ChangeResult = '@Html.Raw(TempData["ChangeResult"])';
            DataChangeResult(ChangeResult);
        });
    </script>
}